<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>wm-school_tasks</title>
	<link rel="stylesheet" href="style.css"/>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="script.js" defer></script>
</head>
<body>
	<div id="app" class="app">
		<div class="item">
			<h1>Отобразить элементы в случайном порядке</h1>
			<label for="input">Введите несколько цифр и нажмите ввод:</label><br>
				<input v-model="string"
			       @keydown.enter="shuffle"
			       placeholder="0123456789"
				     id="input">
			<hr>
		</div>
		<div class="item">
			<ul>
				<li v-for="(elem, ind) in results" :key="ind">
					<span>{{ elem.start }}</span> - {{ elem.end }}
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
